{% extends 'layout.html.twig' %}

{% block name %}Création d'événement {% endblock %}

{% block body %}
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        {% for site in sites %}
            <label class="btn btn-secondary active">
                {% if app.user.site.id==site.id %}
                    <input type="radio" name="options" id="{{ site.id }}" checked >{{ site.name }}
                {% else %}
                    <input type="radio" name="options" id="{{ site.id }}" >{{ site.name }}
                {% endif %}
            </label>
        {% endfor %}
    </div>

{% include 'includes/eventslist.html.twig' %}

{% endblock %}
{%  block JS %}
<script>
    $(".btn-secondary input").click(function(){
        bouton=$(this).attr("id")
        $.ajax({url: "http://localhost/sortir/public/displayevents/"+bouton, success: function(result){
                $("#listevents").html(result);
            }});
    });
</script>
{% endblock %}