{% extends 'layout.html.twig' %}

{% block body %}


    <h1>Modifier l'événement</h1>
    {% include 'includes/editEvent.html.twig' %}

    {% block JS %}
        {% include 'includes/autocomplete-and-fill-locationJS.html.twig' %}
    {% endblock JS %}

{% endblock %}
