<div class="col col-md-12 d-flex justify-content-center returnHome">
    <a href="{{ path('display_events') }}" class="btn btn-secondary" role="button">
        Retour à la page principale
    </a>
</div>