{% extends 'layout.html.twig' %}

{% block body %}

<table class="table table-striped members">
    <thead>
    <tr>
        <th colspan="3" align="justify"><h2>Membres</h2></th>
    </tr>
    </thead>
    <thead>
    <tr>
        <th colspan="1" align="justify">Nom</th>
        <th colspan="1" align="justify">Prénom</th>
        <th colspan="1" align="justify">Pseudo</th>
        <th colspan="1" align="justify">Status</th>
    </tr>
    </thead>

    <tbody>


    {% for member in members %}

        {% if member != app.user %}
            <tr>
                <td>{{ member.surname | capitalize }}</td>
                <td>{{ member.name | capitalize }}</td>
                <td>{{ member.pseudo | capitalize }}</td>

                {% if member.active %}
                    <td><span class="badge badge-success">actif</span></td>
                {% else %}
                    <td><span class="badge badge-secondary">inactif</span></td>
                {% endif %}
            </tr>
        {% endif %}

    {% endfor %}

    {% endblock %}

    {% block title %}
        Admin manager
    {% endblock %}

