{% extends 'layout.html.twig' %}

{% form_theme myProfileFormView 'bootstrap_4_layout.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}

    <h1>Mon profil</h1>

    {{ form(myProfileFormView) }}


    <a href="{{ path('home') }}" class="btn btn-secondary btn-lg disabled" role="button">
        Retour
    </a>

{% endblock %}
