h1{
    color: #0088CC;
}
@font-face {
    font-family: 'Main font';
    src: url('font/Main font.ttf');
}
div { font-family: 'Main font', sans-serif; }


footer{
    margin-top:auto;
}

a {
    margin-left: 5px;
    margin-right: 5px;
}