h1 {
    color: #000000;
    margin-bottom: 20px;
}

@font-face {
    font-family: 'Main font';
    /*src: url('font/Main font.ttf');*/
}

div {
    font-family: 'Main font', sans-serif;
}


footer {
    margin-top: auto;
}

a {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-toggler {
    color: #DDDDDD;
}

.navbar-light {
    background-color: #55acee;
    border-bottom: 1px solid #226699;
}

/* change the brand and text color */
.navbar-light .navbar-brand,
.navbar-light .navbar-text {
    color: #f5f8fa;
}

/* change the link color */
.navbar-light .navbar-nav .nav-link {
    color: #f5f8fa;
}

/* change the color of active or hovered links */
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: #f5f8fa;
}

.navbar, .navbar-expand-sm, .navbar-expand-md, .navbar-expand-lg, .navbar-light, .navbar-brand {
    position: relative;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-text > p {
    margin-bottom: 0px;
    margin-top: 30px;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
    opacity: 1;
    background-color: #55acee;

}

body {
    background: #ebf3ff;
    /*    background: url("background.jpg") no-repeat center fixed;*/
    background-size: 100%;
    padding-bottom:80px;
}


.btn-secondary {
    background-color: #55acee;
}

.btn-secondary:active, .btn-secondary:checked {
    background-color: #226699;
}

#scrollbar {
    width: 500px;
    height: 200px;
    overflow-y: scroll;
}

#listSearch {
    display: inline;
}

label {
    display: inline-block;
    text-align: right;
}

​
li.match {
    background-color: azure;
}


li.match:hover {
    background-color: #55acee;
    color: #f5f8fa;
}

/*.badge{*/
/*    width: 200px;*/
/*}*/

.activer-desactiver{
    width: 150px;
}

.footer a{
    color: white;
}

.returnHome{
    margin-top: 20px;
}
