h1{
    color: #000000;
    margin-bottom: 20px;
}
@font-face {
    font-family: 'Main font';
    src: url('font/Main font.ttf');
}
div { font-family: 'Main font', sans-serif; }


footer{
    margin-top:auto;
}

a {
    margin-left: 5px;
    margin-right: 5px;
}


.navbar-custom {
    background-color: #55acee;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #f5f8fa;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #f5f8fa;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #f5f8fa;
}

.navbar,.navbar-expand-sm,.navbar-expand-md,.navbar-expand-lg,.navbar-custom,.navbar-brand{
    position: relative;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-text > p {
    margin-bottom: 0px;
    margin-top: 30px;
}

.footer{
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

body {
    background: #ffffff;
/*    background: url("background.jpg") no-repeat center fixed;*/
    background-size: 100%;
}

#scrollbar{
    margin-top: 100px;
    width: 500px;
    height: 140px;
    overflow-y: scroll;
    scrollbar-width: thin;
}
