{% extends 'layout.html.twig' %}

{% form_theme ChangePasswordFormView 'bootstrap_4_layout.html.twig' %}

{% block title %}Changement du mot de passe{% endblock %}

{% block body %}


    {{ form(ChangePasswordFormView) }}


    <a href="{{ path('myProfile') }}" class="btn btn-secondary btn-lg" role="button">
        Annuler
    </a>

{% endblock %}
